*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}
h1,
p {
  margin: 0;
}

.header {
  height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 133, 0.8)
    ),
    url(./510522.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__nav {
  padding: 1.5rem 0;
}

.header__ul {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}
.header__ul li {
  font-size: 2rem;
  margin-right: 2rem;
}

.header__ul li a {
  text-decoration: none;
  color: #fff;
}
.header__ul li a:hover {
  text-decoration: underline;
}

.header__promo {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__title {
  color: #fff;
  font-size: 4.5rem;
  font-weight: 800;
}
.header__register-btn {
  padding: 2rem;
  width: 50%;
  background: rgb(11 227 154);
  border: none;
  color: #fff;
  font-size: 2rem;
}

.container {
  width: 70%;
  max-width: 70%;
  margin: 0 auto;
}

.d-col {
  display: flex;
  flex-flow: column nowrap;
}
.d-row {
  display: flex;
  flex-flow: row nowrap;
}

.about {
  height: 90vh;
  background: #2e3242;
  padding: 4rem 0;
}
.about__header {
  padding: 1.5rem;
  align-items: center;
}

.about__header h1 {
  font-size: 3rem;
  color: #fff;
  margin-bottom: 1rem;
}
.about__header p {
  font-size: 1.5rem;
  color: rgba(40, 180, 133, 1);
  text-align: center;
  font-size: 1.5rem;
  width: 70%;
}

.about__body {
  margin-top: 2rem;
  justify-content: center;
}
.about__left-body {
  margin-right: 3rem;
}
.about__left-item h1,
.about__right-item h1 {
  font-size: 2rem;
  color: #fff;
  padding: 0 1rem;
}
.about__left-item p,
.about__right-item p {
  color: rgba(40, 180, 133, 1);
  font-size: 1.3rem;
  width: 80%;
}

.about__left-item,
.about__right-item {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.about__left-body span:first-child h1,
.about__right-body span:first-child h1 {
  font-size: 3rem;
  font-weight: 800;
}

.container__footer{
    height: 100vh;
    background: #e7e9f1;
    padding: 1rem 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 15rem;
}